@use '@carbon/type';
@use '@carbon/react/scss/spacing' as *;

.header-panel-profile-container {
  display: flex;
  flex-direction: column;
  padding: $spacing-05 $spacing-06;

  .header-panel-profile-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-03;

    .header-panel-profile-name {
      @include type.type-style('heading-compact-01');
    }

    .header-panel-profile-email {
      @include type.type-style('body-compact-01');
      color: var(--cds-text-secondary);
    }
  }

  .cds--btn {
    margin-top: $spacing-05;
    align-self: flex-start;
  }
}
